<%= render "shared/header" %>
<div class="wrapper">
  <%# <div class="side-bar">
    <%= render "shared/side_bar" %>
  <%# </div>  %>
  <div class="main">
    <h1>ファイブセンス・カウントダウン</h1>

    <table class="table">
      <thead>
        <tr>
          <th>特徴</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>「イライラしてもうダメだ！」「不安に呑み込まれそうだ！」といった状況で、緊急避難的に効果を発揮します。<br>
          最新の認知行動療法でよく使われます。</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>実施方法</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>「ファイブセンス・カウントダウン」は五感を使って行うテクニックです。</td>
        </tr>
        <tr>
          <td>① 味覚フェーズ<br>
          まず、深呼吸を1回してください。<br>
          そして周囲を見渡し目に入った5つの物を声に出して言ってください。<br>
          テレビ、床、時計など、とにかく目についたものならなんでもOKです。</td>
        </tr>
        <tr>
          <td>② 触覚フェーズ<br>
          再び深呼吸をしてください。<br>
          そして周囲にある4つの物に触ってください。<br>
          壁、タンス、布団など、とにかく目についた物に触れてください。<br>
          「ザラザラしている」「スベスベしている」といったように、その物体が伝えてくる感触を意識してください。</td>
        </tr>
        <tr>
          <td>③ 聴覚フェーズ<br>
          再び深呼吸をしてください。<br>
          そして耳に入ってくる3種類の音を選んで聞いてください。<br>
          風の音、車のエンジン音、換気扇の音など、適当なものを選んで耳を澄ましましょう。<br>
          「高い音だな・・・」「独特のリズムがあるな・・・」といったように、音の特徴を意識してください。</td>
        </tr>
        <tr>
          <td>④ 嗅覚フェーズ<br>
          再び深呼吸をしてください。<br>
          そして鼻に入ってくる2種類の香りを選んで嗅いでください。<br>
          部屋の香り、ペットの体、布団の匂いなど、目についたものを適当なものを選んでください。<br>
          こちらも同様に香りの特徴を意識してください。</td>
        </tr>
        <tr>
          <td>⑤ 味覚フェーズ<br>
          再び深呼吸をしてください。<br>
          そして周囲にある食品や飲み物を1つ選んでください。<br>
          チョコ、ガム、コーヒーなど、何でもいいので口に入れて味わってください。
          周りに何もないときは、舌に当たる空気の感触を味わってください。</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>解説</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>「いま」という瞬間には、未来の不安や過去の悩みが存在しません。
          五感に集中することで意識は「現在」に向かいます。その結果、ネガティブな感情から切り離され、ストレスもやわらいでいくのです。</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<%= render "shared/footer" %>