<%= render "shared/header" %>
<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main">
    <h1>フォアヘッド・タッピング</h1>

    <table class="table">
      <thead>
        <tr>
          <th>特徴</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ストレスでやけ食いしたくなったときに有効です。</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>参考</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>タフツ大学の心理学者スーザン・ロバーツが考案</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>実施方法</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>① まず、5本指を広げて自分のおでこに置きます。
        </td>
        </tr>
        <tr>
          <td>② 次に5本の指で1秒ごとにおでこを軽く叩きます。</td>
        </tr>
        <tr>
          <td>③ この作業をイライラやネガティヴな思考が減るまで続けてください。</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>解説</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>このテクニックが効くのは、人間の脳が限られた処理能力しか持たないからです。
          「甘いものが食べたいのに食べてはいけない！」というストレスを感じたとき、ワーキングメモリは欲望に抵抗しようと必死です。
          ここでおでこを叩くと、容量が少ないワーキングメモリーは、欲望とおでこの２つの情報を処理できず、
          古い方の欲望の情報を追い出します。その結果、ストレスがリセットされるのです。</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<%= render "shared/footer" %>