<%= render "shared/header" %>
<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main">
    <h1>フライ・オン・ザ・ウォール</h1>
  </div>
</div>
<%= render "shared/footer" %>