<%= render "shared/header" %>
<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main">
    <h1>フライ・オン・ザ・ウォール</h1>

    <table class="table">
      <thead>
        <tr>
          <th>特徴</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>いやなことがあったり怒りに駆られているときに有効です。</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>参考</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>アメリカのオハイオ大学が実証</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>実施方法</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>① 自分を「壁に止まったハエ」だと想像してください。ハエでなくとも、
          「もう1人の自分」や「空の上の雲」でも構いません。</td>
        </tr>
        <tr>
          <td>② 目の前の状況を外側から観察してください。</td>
        </tr>

      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>解説</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>被験者を怒らせた状態でパズルを解いてもらう実験で実証されました。
          フライ・オン・ザ・ウォールを実施した被験者の成績が30%も上昇したのです。
          自分をハエだと思うことで、現在の体験と感情に距離感が生まれ、ネガティブな思考に流されにくくなります。
          その結果、激しい怒りがスッと楽になったわけです。</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<%= render "shared/footer" %>