<%= render "shared/header" %>
<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main">
    <h1>はじめに</h1>
    <h3>ストレス対策の超基本</h3>
    <p>ある基本を押さえておかないと、せっかくのストレス解消法の効果が大きく下がってしまうことが、
    多くの研究でわかっています。その基本とはなんだと思いますか？<br>
    <br>
    それは「自分のストレスにちゃんと気づくこと」です。<br>
    <br>
    ストレスに悩む人のほとんどが、自分の心がどれだけ負担を感じているかを正確に把握していません。<br>
    例えば、上司に理不尽な内容で怒られたときはどうしますか？「やけ食い」、「同僚に愚痴を言う」など、
    自分なりのストレス解消を行うでしょう。<br>
    しかし、それは反射でしかありません。<br>
    「上司に怒られた」→「愚痴を言う」のように、ストレスの原因と対策が直結しており、
    その間に自分の心の状態を考える隙間がありません。<br>
    ストレス解消法の効果を最大限に発揮するためには、<br>
    <br>
    ・今のイライラや不安は100点満点で何点だろうか？<br>
    ・このストレスは過去と比べて何％ぐらい辛いだろうか？<br>
    <br>
    といったように、ぼんやりではなく、数値化するレベルまで把握する必要があります。
    最初にこの作業をしないとせっかくのストレス解消法が無駄になってしまいます。<br>
    ダイエットをしようと思っているのに、今の体脂肪率や食事内容がわからなければどう行動すればよいかわからないのと同じです。<br>
    <br>
    まずは自分のストレス度を把握しましょう。<br>
    <%= link_to 'ストレスサーモメーター', gets1_path %>
    </p>
    
  </div>
</div>
<%= render "shared/footer" %>