<%= render "shared/header" %>
<div class="wrapper">
  <%# <div class="side-bar">
    <%= render "shared/side_bar" %>
  <%# </div>  %>
  <div class="main">
    <h1>メンタル・サブトラクティング</h1>

    <table class="table">
      <thead>
        <tr>
          <th>特徴</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>「うつな気分が続いているな・・・」「自分だけ不幸な気がする・・・」のように、
          ネガティブな気分を引きずっているときに有効です。</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>参考</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>アメリカのヴァージニア大学が考案</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>実施方法</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>① 過去の人生で起きたポジティブな出来事を思い浮かべてください。
          (「受験に受かった」「1000円拾った」「今日も生きてる」など)
        </td>
        </tr>
        <tr>
          <td>② その出来事が「実は起きていなかった」と想像してください。</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>解説</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>人間は「何かを得た喜び」よりも「何かを失う苦しみ」のほうを強く感じやすい生き物です。(損失回避バイアスといいます。)
          あえて良い出来事を失った状態を想像することで、そのポジティブな出来事が輝きを増すのです。
          実験によると、「1回3~5分ずつ2週間」ほど続けるのが効果的とのことです。定期的に実践してください。</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<%= render "shared/footer" %>