<%= render "shared/header" %>
<div class="wrapper">
  <%# <div class="side-bar">
    <%= render "shared/side_bar" %>
  <%# </div>  %>
  <div class="main">
    <h1>メンタル・クリアボタン</h1>

    <table class="table">
      <thead>
        <tr>
          <th>特徴</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>「急に不安になってきた！」というときに有効です。急性の心配や悩みを和らげる効果があります。</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>参考</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>スタンフォード大学の心理学者ドン・ジョセフ・ゴーイー博士が考案</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>実施方法</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>① 手の平の上に「押しボタン」をイメージしてください。</td>
        </tr>
        <tr>
          <td>② 押しボタンは脳に直結しており、「ネガティブな感情を止めるシグナル」を送ることができると想像してください。</td>
        </tr>
        <tr>
          <td>③ 自分の呼吸に意識を向けながらボタンを押してください。</td>
        </tr>
        <tr>
          <td>④ 呼吸をしながら心の中で「１」と数え、「赤い色」を思い浮かべてください。</td>
        </tr>
        <tr>
          <td>⑤ 呼吸をしながら心の中で「２」と数え、「青い色」を思い浮かべてください。</td>
        </tr>
        <tr>
          <td>⑥ 呼吸をしながら心の中で「３」と数え、「緑色」を思い浮かべてください。</td>
        </tr>
      </tbody>
    </table>

    <div class="button_anime">
      <label class="showy"><input type="checkbox" id="signal_check"><span></span></label>
      <i class="bi bi-lightning-charge" id="signal_anime"></i>
      <i class='fas fa-brain fa-3x'></i>
      <p><br>↑白ボタンを押すとイメージが再生されます。</p>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>解説</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>想像のボタンを押しながら数字を数えることで、原始脳(不安を感じやすい脳のエリア)から気がそれ、
          一時的にネガティブな情報を追い出せます。</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<%= render "shared/footer" %>