<%= render "shared/header" %>
<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main">
    <h1>マインドバス・テクニック</h1>

    <table class="table">
      <thead>
        <tr>
          <th>特徴</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>「お菓子が食べたいけど食べてはいけない！」といった、何かを我慢しなければならない場面で効果的です。</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>参考</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>マインドフルネス系の認知行動療法の一つ<br>
          イギリスのスウォンジ大学が実証</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>実施方法</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>① 自分はバスの運転手で、心に浮かぶ思考を乗客だとイメージしてください。<br>
              チョコを食べたいという思考の場合、チョコそのものを座席に置いても、チョコを貪る自分を座席に置いてもOKです。</td>
        </tr>
        <tr>
          <td>② しばらく運転し、次のバス停で思考を降ろしてしまいましょう。</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>解説</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>スウォンジ大学が行った、被験者にお菓子を我慢させる実験によると、「マインドバス」を使ったグループほど
          自制心が高まり、ストレスに強くなったようです。</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<%= render "shared/footer" %>