<%= render "shared/header" %>
<div class="wrapper">
  <%# <div class="side-bar">
    <%= render "shared/side_bar" %>
  <%# </div>  %>
  <div class="main">
    <h1>ネガティブ・ダストビン</h1>

    <table class="table">
      <thead>
        <tr>
          <th>特徴</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ついつい嫌なことを考えてしまうようなときに使えるテクニックです。</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>参考</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>スペインのオートノマ大学が実証</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>実施方法</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>① まず、紙とペンを用意してください。</td>
        </tr>
        <tr>
          <td>② 次に3分間ネガティブな思考を紙に書き出してください。頭の中で考えるだけなのはNGです。</td>
        </tr>
        <tr>
          <td>
            <div id="timer">
              <h3>3分タイマー</h3>
              <p>
                <span id="min">3</span> 分
                <span id="sec">00</span> 秒
              </p>
              <p>
                <input type="button" id="start" value="スタート">
                <input type="button" id="stop" value="ストップ" disabled>
                <input type="button" id="reset" value="リセット">
              </p>
            </div>
          </td>
        </tr>
        <tr>
          <td>③ 最後にその紙をビリビリに破いて捨ててください。</td>
        </tr>
      </tbody>
    </table>

    <script>
      let time = 180

      reset.onclick = function() {
        time = 180;
        sec.innerHTML = time % 60;
        min.innerHTML = Math.floor( time / 60 );
      }
    </script>

    <table class="table">
      <thead>
        <tr>
          <th>解説</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>紙を捨てると、捨てなかったグループより、自分にポジティブな評価を下すようになり、
          ネガティヴな思考のストレスに強くなりました。研究チームはこれを、「思考の物質化」と呼んでいます。
          ぼんやりとした考えや感情を紙に書き出すと、脳はあたかも思考がモノになったかのように錯覚します。
          それを捨てることで、本当に思考までゴミ箱に送り込んだような気分が生まれるのです。
          また、ネガティヴ・ダストビンを繰り返すと脳がネガティヴな思考を打ち消せるようになります。定期的に実践してください。</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<%= render "shared/footer" %>