<%= render "shared/header" %>
<div class="wrapper">
  <%# <div class="side-bar">
    <%= render "shared/side_bar" %>
  <%# </div>  %>
  <div class="main">
    <h1>ネガティブ感情ラベリング</h1>

    <table class="table">
      <thead>
        <tr>
          <th>特徴</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ネガティブな感情に対処できるようになり、感情コントロールやストレス耐性の向上効果があります。</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>参考</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>アメリカのミシガン大学が実証</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>実施方法</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>① 今の嫌な感情を明確に表現してください。<br>
          「嫌な感じがする」「最悪だ」のように大雑把な表現はNGです。
          「緊張して落ち着かない」のように明確に細かく表現してください。</td>
        </tr>
        <tr>
          <td>難しい場合、以下のリストから近い状態を選び、<br>
          「私は〇〇を感じている」と表現してください。</td>
        </tr>
        <tr>  
          <td>
            <li><input type="button" value="悲しみ" id="sad"></li>
            <li>恥</li>
            <li>不安</li>
            <li>嫌悪</li>
            <li>怒り</li>
            <li>罪悪感</li>
            <li>イライラ</li>
            <p>私は<span id="think">〇〇</span>を感じている</p>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>解説</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>実験で以下のことが明らかになっています。<br>
          ・ストレスに弱い人ほど、自分のネガティブな感情を区別するのが苦手<br>
          ・ストレスに強い人ほど、自分のネガティブな感情を区別するのが得意<br><br>
          ストレスに弱い人は、「悲しみ」や「不安」といった感情を明確に区別ができず、
          「なんだか嫌な感じがする」と曖昧な表現をします。
          この表現だと自分の感情が「怒り」なのか「恥」なのかわからず、脳が無駄にエネルギー消費し、ストレスが増してしまいます。
          なので今の感情に名前をつけましょう。<br>
          また、ポジティブな感情に対しても詳しく表現できるとよいでしょう。
          ボキャブラリーが多いほど有利なので、外国語(日本語では一言で表せない単語)を学習したり、
          自分で作ってしまう(激おこぷんぷん丸など)のも手です。
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<%= render "shared/footer" %>