<%= render "shared/header" %>
<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/side_bar" %>
  </div>
  <div class="main">
    <h1>ポジティブ・メモリーズ</h1>

    <table class="table">
      <thead>
        <tr>
          <th>特徴</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>最も即効性が高く、たった14秒でストレス反応を大きく減らしてくれます。</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>実施方法</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>1</th>
          <td>14秒だけ過去の良い記憶を思い出してください。(昔のバケーションや誰かに褒められたなど)</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= render "shared/footer" %>