<%= render "shared/header" %>
<div class="wrapper">
  <%# <div class="side-bar">
    <%= render "shared/side_bar" %>
  <%# </div>  %>
  <div class="main">
    <h1>ストレスサーモメーター</h1>

    <table class="table">
      <thead>
        <tr>
          <th>特徴</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>自分のストレス度をテェックするのに最もお手軽な方法です。</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>参考</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>心理カウンセリングで使えわれる方法の一つです。</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>実施方法</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>① 以下の温度計を見ながら、今のストレスが何点なのか採点してください<br>
          「過去に味わったことがないストレス」なら10点、「イライラも不安も感じない」なら0点です。</td>
        </tr>
        <tr>
          <td>
            <div class="surmometer_img"></div>
            <input type="range" min="0" max="10" step="1" value="0" id=surmometer>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>解説</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>これがどれほどの精度かというと、数十問で構成された大掛かりなストレス診断とさほど違いがないことが、
          アメリカの実験で明らかになっています。<br>
          また、このテクニックは、ストレスに点数をつけただけである程度のストレス解消の効果があります。
          「今は7点だから4点に下げよう」といったように明確な指標ができます。この安心感が心にゆとりを産むのです。</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<%= render "shared/footer" %>