<%= render "shared/header" %>
<div class="wrapper">
  <%# <div class="side-bar">
    <%= render "shared/side_bar" %>
  <%# </div>  %>
  <div class="main">
    <h1>ストレスサーモメーター</h1>

    <table class="table">
      <thead>
        <tr>
          <th>特徴</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>自分のストレス度をテェックするのに最もお手軽な方法です。</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>参考</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>心理カウンセリングで使えわれる方法の一つです。</td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>実施方法</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>① 以下の温度計を操作し、今のストレスが何点なのか採点してください<br>
          「過去に味わったことがないストレス」なら10点、「イライラも不安も感じない」なら0点です。</td>
        </tr>
        <tr>
          <td>
            <div class="surmometer_img"></div>
            <div class="surmometer_scale">
              <p class=scale10>10&ensp;凄まじいストレスを感じる　　　</p>
              <p class=scale9>9</p>
              <p class=scale8>8</p>
              <p class=scale7>7</p>
              <p class=scale6>6&ensp;そこそこのストレスを感じる</p>
              <p class=scale5>5</p>
              <p class=scale4>4</p>
              <p class=scale3>3</p>
              <p class=scale2>2&ensp;ほんの少しストレスを感じる</p>
              <p class=scale1>1</p>
              <p class=scale0>0&ensp;まったくストレスを感じていない</p>
            </div>
            <div class="surmometer_score">
              <form oninput="op1.value = Number(ex.value);" class="surmometer_pc">
                <input type="range" min="0" max="10" step="1" value="0" id=surmometer name="ex" list="tickmarks">
                <br><br>
                <span>&ensp;&ensp;&ensp;ストレス度数</span>
                <output name="op1">0</output>
                <span>点</span>
                <datalist id="tickmarks">
                  <option value="0">
                  <option value="1">
                  <option value="2">
                  <option value="3">
                  <option value="4">
                  <option value="5">
                  <option value="6">
                  <option value="7">
                  <option value="8">
                  <option value="9">
                  <option value="10">
                </datalist>
              </form>
                <form oninput="op2.value = Number(ex.value);" class="surmometer_tablet">
                <input type="range" min="0" max="10" step="1" value="0" id=surmometer name="ex">
                <br><br>
                <span>&ensp;&ensp;&ensp;ストレス度数</span>
                <output name="op2">0</output>
                <span>点</span>
              </form>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="table">
      <thead>
        <tr>
          <th>解説</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>これがどれほどの精度かというと、数十問で構成された大掛かりなストレス診断とさほど違いがないことが、
          アメリカの実験で明らかになっています。<br>
          また、このテクニックは、ストレスに点数をつけただけである程度のストレス解消の効果があります。
          「今は7点だから4点に下げよう」といったように明確な指標ができます。この安心感が心にゆとりを産むのです。</td>
        </tr>
        <tr>
          <td>現状のストレスを把握した後は、最上部の<span class="humburger">三本線の中の</span>「メソッド一覧」か「ランダム選択」を押して表示されたテクニックを実施しましょう。
          「根本解決」よりも「即効性」に着目したテクニックたちです。ゲーム感覚の軽いノリで試してください。
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
<%= render "shared/footer" %>