.wrapper{
  display: flex;
}

.side-bar {
  background-color: #c0dab5;
  width: 300px;
  padding-top: 20px;
  /* height: 100vh; */
}

.main {
  background-color: #93e7ca;
  width: calc(100vw - 300px);
  padding: 20px;
}