.wrapper{
  display: flex;
}

header{
  background-color: #9ae793;
}

.side-bar {
  background-color: #c0dab5;
  padding-top: 10px;
  margin-left: -20px;
  padding-right: 10px;
  /* width: 300px; */
  /* height: 100vh; */
}

.main {
  background-color: #93e7ca;
  width: calc(100vw);
  padding: 20px;
}

footer{
  background-color: #9ae793;
  padding: 40px 20px 20px 20px;
}